
*.vsidx

Mamam11/.vs/Mamam11/FileContentIndex/read.lock

*.db

*.db-shm

*.db-wal

*.opendb

*.ipch

Mamam11/Mamam11/x64/Debug/_IsIncrementalBuild

Mamam11/Mamam11/x64/Debug/

*.pdb

*.exe

*.pdf

ממן11/ממן11 קוד/.vs/Mamam11/v17/.suo
