
*.vsidx

Mamam11/.vs/Mamam11/FileContentIndex/read.lock

*.db

*.db-shm

*.db-wal

*.opendb

*.ipch

Mamam11/Mamam11/x64/Debug/_IsIncrementalBuild

Mamam11/Mamam11/x64/Debug/

*.pdb

*.exe

*.pdf

ממן11/ממן11 קוד/.vs/Mamam11/v17/.suo

ממן14/Maman14Client/tmp

ממן14/Maman14Client/__pycache__/Constants.cpython-39.pyc

ממן14/Maman14Server/.vs/Maman14Server/v17/.suo

ממן14/Maman14Server/.vs/Maman14Server/v17/fileList.bin

ממן14/Maman14Server/Maman14Server/x64/Debug/Maman14Server.ilk

ממן14/Maman14Server/Maman14Server/x64/Debug/Maman14Server.log

ממן14/Maman14Server/Maman14Server/x64/Debug/Maman14Server.tlog/CL.command.1.tlog

ממן14/Maman14Server/Maman14Server/x64/Debug/Maman14Server.tlog/CL.read.1.tlog

ממן14/Maman14Server/Maman14Server/x64/Debug/Maman14Server.tlog/CL.write.1.tlog

ממן14/Maman14Server/Maman14Server/x64/Debug/ServerLogic.obj

ממן14/Maman14Server/Maman14Server/x64/Debug/vc143.idb

ממן14/Maman14Server/TEST/TEST.cpp

ממן14/Maman14Server/TEST/TEST.vcxproj

ממן14/Maman14Server/TEST/TEST.vcxproj.filters

ממן14/Maman14Server/TEST/TEST.vcxproj.user

ממן14/Maman14Server/TEST/x64/Debug/_IsIncrementalBuild

ממן14/Maman14Server/TEST/x64/Debug/TEST.Build.CppClean.log

ממן14/Maman14Server/TEST/x64/Debug/TEST.exe.recipe

ממן14/Maman14Server/TEST/x64/Debug/TEST.ilk

ממן14/Maman14Server/TEST/x64/Debug/TEST.log

ממן14/Maman14Server/TEST/x64/Debug/TEST.obj

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/CL.command.1.tlog

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/CL.read.1.tlog

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/CL.write.1.tlog

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/link.command.1.tlog

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/link.read.1.tlog

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/link.write.1.tlog

ממן14/Maman14Server/TEST/x64/Debug/TEST.tlog/TEST.lastbuildstate

ממן14/Maman14Server/TEST/x64/Debug/TEST.vcxproj.FileListAbsolute.txt

ממן14/Maman14Server/TEST/x64/Debug/vc143.idb

ממן14/Maman14Server/TEST/x64/Debug/vcpkg.applocal.log
